<header class="sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <li class="nav-link active">
        <%= link_to "マイページ", "#" ,class:"nav-link text-white"%>
      </li>
      <li class="nav-link active">
        <%= link_to "TOP", root_path ,class:"nav-link text-white"%>
      </li>
      <li class="nav-link active">
        <%= link_to "新規登録", "#" ,class:"nav-link text-white"%>
      </li>
      <li class="nav-link active">
        <%= link_to "ログイン", "#" ,class:"nav-link text-white"%>
      </li>
      <li class="nav-link active">
        <%= link_to "ログアウト", "#" ,class:"nav-link text-white"%>
      </li>
    </div>
  </nav>
</header>
