<header class="sticky-top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="ナビゲーションの切替">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <li class="nav-link active">
        <%= link_to "TOP", root_path, class:"nav-link text-white"%>
      </li>
      <li class="nav-link active">
        <%= link_to "店舗一覧", salons_path, class:"nav-link text-white"%>
      </li>
      <% if user_signed_in? %>
        <li class="nav-link active">
          <%= link_to "店舗登録", new_salon_path, class:"nav-link text-white"%>
        </li>
        <li class="nav-link active">
          <%= link_to "マイページ", user_path(current_user.id), class:"nav-link text-white"%>
        </li>
        <li class="nav-link active">
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete ,class:"nav-link text-white"%>
        </li>
      <% else %>
        <li class="nav-link active">
          <%= link_to "ゲストログイン（閲覧用）", home_guest_sign_in_path, method: :post, class:"nav-link text-white"%>
        </li>
        <li class="nav-link active">
          <%= link_to "ログイン", new_user_session_path, class:"nav-link text-white"%>
        </li>
        <li class="nav-link active">
          <%= link_to "新規登録", new_user_registration_path, class:"nav-link text-white"%>
        </li>
      <% end %>
    </div>
  </nav>
</header>
