<header>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-end">
  <li class="nav-link active">
    <%= link_to "マイページ", "#" ,class:"nav-link text-white"%>
  </li>
  <li class="nav-link active">
    <%= link_to "TOP", "#" ,class:"nav-link text-white"%>
  </li>
  <li class="nav-link active">
    <%= link_to "新規登録", "#" ,class:"nav-link text-white"%>
  </li>
  <li class="nav-link active">
    <%= link_to "ログイン", "#" ,class:"nav-link text-white"%>
  </li>
  <li class="nav-link active">
    <%= link_to "ログアウト", "#" ,class:"nav-link text-white"%>
  </li>
</nav>
</header>