<div class="container mt-5">
  <div class="salons_search">
  <% if @q.name_or_address_or_fear_or_treatment_areas_cont.present? %>
    <p class="card">検索ワード：<%= @q.name_or_address_or_fear_or_treatment_areas_cont %></p>
  <% end %>
    <p><%= @salons.total_count %>件中<%= @salons.count %>件を表示</p>
  </div>
  <div class="result_order">
    <%# <p>並び順</p> %>
  </div>
  <% @salons.each do |salon| %>
    <%= link_to salon_path(salon.id), class: "text-body" do  %>
      <div class="salons card">
        <div class="salons_photo">
          
        </div>
        <div class="salons_name">
          <%= salon.name %>
        </div>
        <div class="salons_rate">

        </div>
        <div class="salons_address">
          住所 : <%= salon.address %>
        </div>
      </div>
    <% end %>
  <% end %>
  <nav>
    <ul class="pagination pagination-sm">
      <%= paginate @salons %>
    </ul>
  </nav>
</div>