<div class="container mt-5">
  <div class="salons_search">
    <% if @q.name_or_address_or_fear_or_treatment_areas_cont.present? %>
      <p class="card">検索ワード：<%= @q.name_or_address_or_fear_or_treatment_areas_cont %></p>
    <% end %>
    <%# キーワード検索 %>
    <%= search_form_for @q, url: salons_path do |f|%>
      <div class="form-group d-flex">
        <%= f.search_field :name_or_address_or_fear_or_treatment_areas_cont, class: "form-control", placeholder: "店舗名・エリア名" %>
        <div class="form-group-append">
          <%= f.submit "検索", class: "btn btn-primary flex-shrink-0" %>
        </div>
      </div>
    <% end %>
    <p><%= @salons.total_count %>件中<%= @salons.count %>件を表示</p>
  </div>
  <div class="result_order">
    <%# <p>並び順</p> %>
  </div>
  <% @salons.each do |salon| %>
    <%= link_to salon_path(salon.id), class: "text-body" do  %>
      <div class="salons card flex-row">
        <div class="salons_photo ">
          <% if salon.photo? %>
            <%= image_tag salon.photo.url, size: '100' %>
          <% else %>
            <%= image_tag "/assets/no_photo.jpg", size: '100' %>
          <% end %>
        </div>
        <div class="flex-column ml-1 text-left ">
          <div class="salons_name mb-2">
            <%= salon.name %>
          </div>
          <div class="salons_rate">
    
          </div>
          <div class="salons_address">
            住所 : <%= salon.address %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
  <nav>
    <ul class="pagination pagination-sm">
      <%= paginate @salons %>
    </ul>
  </nav>
</div>