<div class="container">
  <div class="salon_name">
    <h4><%= @salon.name %></h4>
  </div>
  <div class="salon_info card">
    <h5>基本情報</h5>
    <div class="border-bottom"></div>
    <h6 class="card-body">住所</h6>
      <%= @salon.address %>
      <div class="border-bottom"></div>
    <h6 class="card-body">アクセス</h6>
      <%= @salon.access %>
      <div class="border-bottom"></div>
    <h6 class="card-body">営業時間</h6>
      <%= @salon.bussiness_hours %>
      <div class="border-bottom"></div>
    <h6 class="card-body">電話番号</h6>
      <%= @salon.phone_number %>
      <div class="border-bottom"></div>
    <h6 class="card-body">施術箇所</h6>
      <%= @salon.treatment_areas %>
      <div class="border-bottom"></div>
    <h6 class="card-body">料金</h6>
      <%= @salon.fear %>
      <div class="border-bottom"></div>
    <h6 class="card-body">HP</h6>
      <% if @salon.url.present? %>
        <%= link_to @salon.url, @salon.url, target: :_blank %>
      <% end %>
  </div>
  <div class="salon_map">
    <h5>場所</h5>
  </div>
  <div class="salon_review">
    <h5>口コミ</h5>
    <%# <%= link_to "口コミを投稿する", new_salon_review_path(@salon.id), class: "btn btn-primary text-wihte" %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#reviewModal" >
      口コミを投稿する
      </button>
      <%# <% if @reviews.comment.present? %>
        <%# <%= @reviews.comment %>
      <%# <% end %> 
  </div>
  <div class="salon_photo">
    <h5>写真</h5>
  </div>
  <%= link_to "編集", edit_salon_path, class: "btn btn-primary text-white" %>
</div>

<%# <%= link_to "口コミを投稿する", new_salon_review_path(@salon.id) do |f|%>
<%# レビュー投稿モーダルウィンドウ %>
<div class="modal" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModal">口コミを投稿する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_with url:salon_reviews_path(@salon.id), method: :post do |f| %>
        <div class="modal-body">
          <%= f.text_area :comment, size: "100*10"%>
        </div>
        <div class="modal-footer">
          <%= f.submit "投稿する", class: "btn btn-primary btn-block" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
