<div class="container mt-5">
  <div class="salon_name">
    <h4><%= @salon.name %></h4>
  </div>
    総合評価：<%= @ave %>/5.0
    口コミ件数：<%= @comment_count %>件
  <div class="salon_info card mt-1">
    <h5>基本情報</h5>
    <div class="border-bottom"></div>
    <h6 class="card-body">住所</h6>
      <%= @salon.address %>
      <div class="border-bottom"></div>
    <h6 class="card-body">アクセス</h6>
      <%= @salon.access %>
      <div class="border-bottom"></div>
    <h6 class="card-body">営業時間</h6>
      <%= @salon.bussiness_hours %>
      <div class="border-bottom"></div>
    <h6 class="card-body">電話番号</h6>
      <%= @salon.phone_number %>
      <div class="border-bottom"></div>
    <h6 class="card-body">施術箇所</h6>
      <%= @salon.treatment_areas %>
      <div class="border-bottom"></div>
    <h6 class="card-body">料金</h6>
      <%= @salon.fear %>
      <div class="border-bottom"></div>
    <h6 class="card-body">HP</h6>
      <% if @salon.url.present? %>
        <%= link_to @salon.url, @salon.url, target: :_blank %>
      <% end %>
  </div>
  <div class="salon_review">
    <h5 class="mt-2">口コミ</h5>
    <% if @comments.present? %>
      <% @comments.each do |comment| %>
        <div class="card">
          <div class="card-body d-flex justify-content-start review_card">
            <div class="review_icon">
              <% if comment.user.image? %>
                <%= image_tag comment.user.image.url, size: '50' %>
              <% else %>
                <%= image_tag "/assets/default.jpg", size: '50' %>
              <% end %>
            </div>
            <div class="d-flex flex-column align-items-start ml-3">
              <div class="reviewer_info">
                <%= link_to "#{comment.user.name}", user_path(comment.user_id), class: "text-body mr-4" %>
                評価 <%= comment.rate %>/5.0
              </div>
              <div class="review_comment text-left">
              <%= comment.comment %>
              </div>
              <div class="review_create text-black-50">
                投稿日時：<%= comment.created_at.strftime("%Y/%m/%d") %>
              </div>
              <% if comment.user_id == current_user.id %>
                <%= link_to "削除", salon_review_path(comment.salon_id,comment.id), method: :delete, data: { confirm: "本当に削除しますか？" }%>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="card">口コミはまだありません<br>
                      あなたの口コミを投稿しよう！</p>
    <% end %>
    <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#reviewModalCentered">
    口コミを投稿する
    </button>
  </div>
  <div class="salon_map">
    <h5>場所</h5>
  </div>
  <%= link_to "編集する", edit_salon_path, class: "btn btn-info text-white mt-3" %>
</div>

<!-- Modal -->
<div class="modal" id="reviewModalCentered" tabindex="-1" role="dialog" aria-labelledby="reviewModalCenteredLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="reviewModalCenteredLabel">口コミを投稿する</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: salon_reviews_path(@salon), method: :post, local: :true do |f| %>
          <%= f.label :rate, "評価" %>
          <small class="bg-danger text-white mr-5">必須</small>
          <%= f.number_field :rate, step: "0.5", min: 1, max: 5 %>/5.0
          <%= f.text_area :comment, class: "form-control", placeholder: "口コミを書く" %>
          <%= f.submit "投稿する", class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>