<div class="salon_show">
  <div class="salon_name">
    <h3><%= @salon.name %></h3>
  </div>
  <div class="salon_info">
    <h5>基本情報</h5>
    <h6>住所</h6>
      <%= @salon.address %>
    <h6>アクセス</h6>
      <%= @salon.access %>
    <h6>営業時間</h6>
      <%= @salon.bussiness_hours %>
    <h6>電話番号</h6>
      <%= @salon.phone_number %>
    <h6>施術箇所</h6>
      <%= @salon.treatment_areas %>
    <h6>料金</h6>
      <%= @salon.fear %>
    <h6>HP</h6>
      <% if @salon.url.present? %>
        <%= link_to @salon.url, @salon.url, target: :_blank %>
      <% end %>
  </div>
  <div class="salon_map">
    <h5>場所</h5>
  </div>
  <div class="salon_review">
    <h5>口コミ</h5>
  </div>
  <div class="salon_photo">
    <h5>写真</h5>
  </div>
  <%= link_to "編集", edit_salon_path, class: "btn btn-primary text-white" %>
</div>