<div class="container mt-5 ">
  <h5>口コミを書く</h5>
    <%= form_with url: salon_reviews_path(@salon), method: :post, local: :true do |f| %>
      <%# <%= f.hidden_field :salon_id, value: @salon %> 
      <div class="main_rating">
        <%# <div class="rating mb-2" id="star">
          <%= f.label :rate, "評価" %>
          <%# <%= f.hidden_field :rate, id: :review_star %>
        <%# </div> %> 
        <%= f.text_area :comment, class: "form-control" %>
      </div>
      <%= f.submit "投稿する", class: "btn btn-primary " %>
    <% end %>
</div>

<script>
$('#star').raty({
  size     : 36,
  starOff:  '<%= asset_path('star-off.png') %>',
  starOn : '<%= asset_path('star-on.png') %>',
  starHalf : '<%= asset_path('star-half.png') %>',
  scoreName: 'review[rate]' ,
  half: true,
});
</script>